# Template environment variables (do NOT commit .env)
# DATABASE_URL examples:
# sqlite (default): sqlite:///./data/healthdb.sqlite3
# postgres: postgresql+psycopg2://user:pass@host:5432/dbname
DATABASE_URL=sqlite:///./data/healthdb.sqlite3

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
# MINIO_LICENSE=cole_aqui_sua_licenca (opcional)

INCOMING_DIR=./data/incoming
