google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
openpyxl
python-multipart
boto3
pyyaml
alembic
google-api-python-client>=2.70.0 google-auth>=2.20.0 google-auth-httplib2>=0.1.0 google-auth-oauthlib>=1.0.0 requests>=2.31.0 sqlalchemy>=1.4 psycopg2-binary>=2.9 pandas>=1.5 openpyxl>=3.0 python-dotenv>=1.0.0 # opcional, útil para dev local pyyaml>=6.0 boto3>=1.26 alembic>=1.10 wheel>=0.40.0 setuptools>=60.0
